<div>
    <h2>Section 1</h2>
    <ul>
        <li><a href="#" data-content_url="/scripts/section_1/string.js">Strings</a></li>
    </ul>
    <h2>Section 2</h2>
    <ul>
        <li></li>
    </ul>
    <h2>Section 3</h2>
    <ul>
        <li><a href="~/html/Section_3/OneGlobal.html">One Global</a></li>
        <li><a href="~/html/Section_3/FunctionCollisions.html">Function Collistions</a></li>
    </ul>
    <h2>Section 4</h2>
    <ul>
        <li><a href="~/html/Section_4/Events.html">Event Handling</a></li>
    </ul>
    <h2>Section 5</h2>
    <ul>
        <li></li>
    </ul>
</div>



